<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='companies.css')}}">
  <title>Compaines Details</title>
</head>
<body>
{% set c = data[len] %}
<div>
<div id="companies">
  <center><div id="C_Name">{{ c[1] }}</div>
  <div id="C_Link"><a href=https://{{c[2]}}>{{c[2]}}</a></div><br/>
</center><div id="C_Desc"><span>Description:</span> {{ c[3] }}</div><br/>
<br/>
<center>
  <table>
<tr><th>Year</th><th>Eligibility</th><th>Selection Process</th><th>Job Location</th><th>Joining From</th><th>Package Offered</th><th>Selection Aggriment</th></tr>
{% for c in data %}<tr>
  <th>{{c[0]}}</th>
  <div id="C_Elig"><td>{{ c[4] }}</td></div>
  <div id="C_Sele"><td>{{ c[5] }}</td></div>
  <div id="C_Loca"><td>{{ c[6] }}</td></div>
  <div id="C_Join"><td>{{ c[7] }}</td></div>
  <div id="C_Pack"><td>{{ c[8] }}</td></div>
  <div id="C_Aggr"><td>{{ c[9] }}</td></div>
</tr>{% endfor %}
</table>
</center>
<br/><br/>
Check Eligibility: <input type='Text' Placeholder="Enter Your Roll Number"/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 <br/><input type=submit value='Click to Register' disabled=disabled/>
</div>
</div>
</body>
</html>
